body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff0f5;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: #ffc0cb;
  color: #333;
  padding: 1rem;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #c71585;
  font-weight: bold;
}

main {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  flex: 1;
}

/* Стили для страницы team.html */
body.team-page main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

body.team-page .team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  flex: 1;
  min-width: 300px;
  max-width: 350px;
  height: 100%;
}

body.team-page .team-member img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

body.team-page .team-member div {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

body.team-page .team-member strong {
  display: inline;
  margin-bottom: 0.5rem;
}

h1, h2 {
  color: #c71585;
}

img {
  max-width: 100%;
  border-radius: 12px;
  margin-bottom: 1rem;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 20px 0;
}

a[href^="http"] {
  color: #000000;
}
